name: flutter_application_1
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
assets:
  - images/profile_picture.png
  - images/google.jpg
  - images/iphone-15.jpg
  - images/samsung.jpg



flutter:
  uses-material-design: true
